@attribute [Route(AppUrls.Admin.EN.EditMenu)]
@attribute [Route(AppUrls.Admin.PL.EdytujMenu)]
@using ClickSharp.Components;

<h1>DragDrop demo</h1>
<ul ondragover="event.preventDefault();" style="margin:20px">

</ul>

<MenuContainer />
    
@code
{
   
}