@attribute [Route(AppUrls.Admin.EN.EditMenu)]
@attribute [Route(AppUrls.Admin.PL.EdytujMenu)]
@using ClickSharp.Components;
@using ClickSharp.Components.Test;
@inject ClickSharpContext dbContext
@using System.Text.RegularExpressions;
@inject MenuState2 _state


<h1>DragDrop demo</h1>
<ul ondragover="event.preventDefault();" style="margin:20px">
</ul>

@*<MenuContainer />*@
<MenuContainer2 />

<h3>Add menu item</h3>

    <div class="form-group">
        <label for="urlInput">Display Name</label>
        <input id="urlInput" type="text" @bind=newMenu.DisplayName class="form-control" />
    </div>
    <div class="form-group">
        <label for="pages">Bind with page</label>
        <select id="pages" @bind-value=newMenu.PageId @bind-value:event="oninput" class="form-control">
            <option value=0>none</option>
            @foreach (var item in pages)
            {
                <option value=@item.Id>@item.Title</option>
            }
        </select>
    </div>
    <div class="mt-5">
        <button class="btn btn-primary" type="button" @onclick=AddNewMenu>add new menu item</button>
    </div>





@code
{
    private MenuModel newMenu = new();
    private List<Page> pages = new();

    protected override void OnInitialized()
    {
        if (dbContext.Pages != null)
        {
            pages = dbContext.Pages.ToList();
        }

        base.OnInitialized();
    }
    private void AddNewMenu()
    {
        try
        {
            if (!string.IsNullOrEmpty(newMenu.DisplayName) && !string.IsNullOrWhiteSpace(newMenu.DisplayName))
            {
                string cleanString = newMenu.DisplayName.Trim();

                if (cleanString.Length < 3)
                    throw new Exception();

                Regex reg = new Regex("^[a-zA-Z0-9-_ ]+");
                if (!reg.IsMatch(cleanString))
                    throw new Exception();

                if (dbContext.Menu != null)
                {
                    int lastIndex = dbContext.Menu.Where(x => x.Id > 3).Count<Menu>();
                    if (newMenu.PageId != null && newMenu.PageId > 0)
                    {
                        dbContext.Menu.Add(
                            new Menu
                                {
                                    DisplayName = cleanString,
                                    ParentId = 3,
                                    PageId = newMenu.PageId,
                                    Index = lastIndex
                                }
                        );
                        dbContext.SaveChanges();
                    }
                    else
                    {
                        dbContext.Menu.Add(
                            new Menu
                                {
                                    DisplayName = cleanString,
                                    ParentId = 3,
                                    Index = lastIndex
                                }
                        );
                        dbContext.SaveChanges();
                    }
                    newMenu = new();
                    _state.MenuStateHasChanged();
                    StateHasChanged();
                }
            }
        } catch {}


    }
}