@attribute [Route(PageUrls.AdminLogin)]
@layout LoginLayout
@inject AuthenticationStateProvider customStateProvider
@inject NavigationManager UriHelper
@using ClickSharp.Models.Forms

<EditForm Model="_loginModel" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-outline mb-4">
        <InputText type="email" id="emailForm" class="form-control form-control-lg" @bind-Value="_loginModel.Email" />
        <label class="form-label" for="emailForm">Email address</label>
    </div>
    <div class="form-outline mb-4">
        <InputText type="password" id="passwordForm" class="form-control form-control-lg" @bind-Value="_loginModel.Password" />
        <label class="form-label" for="passwordForm">Password</label>
    </div>
    <button type="submit" class="btn btn-primary btn-lg btn-block">Sign In</button>
    <div class="d-flex justify-content-around align-items-center mb-4">
        <a href="#!">Forgot password?</a>
    </div>
</EditForm>


@code {
    private LoginModel _loginModel = new();

    private async Task HandleValidSubmit()
    {
        await ((CustomStateProvider)customStateProvider).Login(_loginModel);
        UriHelper.NavigateTo(PageUrls.DashBoard);
    }
}
