@inherits LayoutComponentBase
@inject AuthenticationStateProvider authenticationStateProvider

<PageTitle>ClickSharp</PageTitle>

<AuthorizeView Roles="admin">
    <Authorized>
        <AdminHeader />
    </Authorized>
</AuthorizeView>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
    <footer class="row">
        <p>
            &copy; Lukasz Bakowski 2023
        </p>
    </footer>
</div>

@code {
    //protected override async Task OnAfterRenderAsync(bool firstRender)
    //{
    //    if (firstRender)
    //    {
    //        await LoadDataAsync();
    //    }
    //}
    //private async Task LoadDataAsync()
    //{
    //    var state = await authenticationStateProvider.GetAuthenticationStateAsync();
    //    var user = state.User;
    //    if (user == null) return;
    //}
}